<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>1) 사번, 직원명, 부서명, 직급, 연봉, 근무년수를 DataFrame에 기억 후 출력하시오.</h3>
<h3>: 부서번호, 직원명 순으로 오름 차순 정렬 </h3>
{{df|safe}}

<h3>2) 부서명, 직급 자료를 이용하여  각각 연봉합, 연봉평균을 구하시오.</h3>  
부서별 연봉 합
{{bn_paysum|safe}} <br/>
부서별 연봉 평균
{{bn_payavg|safe}} <br/>
직급별 연봉 합
{{jk_paysum|safe}} <br/>
직급별 연봉 평균
{{jk_payavg|safe}} <br/>

<h3>3) 부서명별 연봉합, 평균을 이용하여 세로막대 그래프를 출력하시오.</h3>  
<img src="/static/images/buser_salary.png">

<h3>4) 성별, 직급별 빈도표를 출력하시오.</h3>  
{{cross|safe}}
</body>
</html>