<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2> 부서 정보 </h2>
<table border="1" style="width: 80%;">
	<tr>
		<th>부서번호</th>
		<th>부서명</th>
		<th>부서전화</th>
		<th>지역명</th>
	</tr>
	{% if datas %}
	{% for b in datas %}
	<tr>
		<td>{{b.buser_no}}</td>
		<td><a href="/jikwon?buser_no={{b.buser_no}}">
			{{b.buser_name}}</a>
		</td>
		<td>{{b.buser_tel}}</td>
		<td>{{b.buser_loc}}</td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
			<td colspan="4">자료가 없습니다.</td>
	</tr>
	{% endif %}
</table>
</body>
</html>