<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2> 평점이 같은 직원 출력</h2>
	 <table border="1">
        <tr>
            <th>사번</th><th>이름</th><th>부서</th><th>직급</th><th>성별</th><th>연봉</th>
        </tr>
        {% for j in datas %}
            <tr>
                <td>{{ j.jikwon_no }}</td>
                <td>{{ j.jikwon_name }}</td>
                <td>{{ j.buser_num }}</td>
                <td>{{ j.jikwon_jik }}</td>
                <td>{{ j.jikwon_gen }}</td>
                <td>{{ j.jikwon_pay }}</td>
            </tr>
        {% endfor %}
	 </table>
   <h2>직급별 부서별 빈도표</h2>
   {{ctab|safe}}
</body>
</html>